/* CSS */





/* bg image */

.bg-image {
    background-image: url("../img/Goku.png");
    padding: 100px;
    color: black;
} 


/* Centralizando bg image */

.not-centered-bg, 
.centered-bg {
    height: 400px; /*Altura*/
    width: 400px;  /* Largura*/
    background-image: url("../img/Goku.na.nuvem.png");
    
}

.centered-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Altura e largura */

.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}


.height-width-2 {
    height: 300px;
    background-color: #333;
}

/* Padding */

.without-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding individual */

.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand Padding */
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;

}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;

}

/* Padding com width*/
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}