/* CSS */





/* bg image */

.bg-image {
    background-image: url("../img/Goku.png");
    padding: 100px;
    color: black;
} 


/* Centralizando bg image */

.not-centered-bg, 
.centered-bg {
    height: 400px; /*Altura*/
    width: 400px;  /* Largura*/
    background-image: url("../img/Goku.na.nuvem.png");
    
}

.centered-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



/* Altura e largura */

.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}


.height-width-2 {
    height: 300px;
    background-color: #333;
}

/* Padding */

.without-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding individual */

.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand Padding */
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;

}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;

}

/* Padding com width*/
.without-border-box {
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}

/* Border */
.border {
    border: 5px/* largura da borda*/ solid/*aparência da borda*/   red/*cor da borda*/ ;
    padding: 10px;

}


.border-2 {
    border: 2px/* largura da borda*/ dotted/*aparência da borda*/   #931/*cor da borda*/ ;
    padding: 25px;
    
}

/* Border individual */

.border-left {
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* Border Arredondada */
.rounded-p {
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p-2 {
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}

/* Margin */ 
.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    padding: 10px;
}

.margin-shorthand {
    background-color: #666;
    margin: 10px 20px 30px 40px;
}   


/* Box Model*/
.box-model {

    margin: 20px;    
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;   
    width: 300px;
    height: 400px;
}